{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Товари{% endif %}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h2>{{ product.name }}</h2>
        <h5>Категорія: <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h5>
        <p class="price">Вартість: {{ product.price }} грн.</p>
            <form action="{% url "shopping_cart:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Добавити у кошик">
            </form>
        <h5>Опис товару:  </h5>
        <h6>{{ product.description|linebreaks }} </h6>
    </div>


    {% with comments.count as total_comments %}
        <h5>Товар має {{ total_comments }} відгуків </h5>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Коментар {{ forloop.counter }} від {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p> Поки не має відгуків. </p>
    {% endfor %}

    {% if new_comment %}
        <h5>Ваш відгук додано</h5>
    {% else %}

        {% if user.is_authenticated %}
        <h5>Ви можете додати відгук</h5>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Додати відгук"></p>
        </form>
        {% else %}
            <h7>Для додавання відгуків ви маєте авторизуватися</h7>
        {% endif %}

    {% endif %}

{% endblock %}



