{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %} ЩО ТАКЕ-1 {{ category.name }}{% else %}Товари{% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h4>Категорії</h4>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "shop:product_list" %}">Всі категорії</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h4>{% if category %} Товари категорії: {{ category.name }}{% else %} Всі товари {% endif %}</h3>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %} {{ product.image.url }} {% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                {{ product.price }} грн.
            </div>
        {% endfor %}
    </div>
{% endblock %}