{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Ваш кошик замовлення
{% endblock %}
{% block content %}
    <h1>Ваш кошик замовлення</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Зображення</th>
            <th>Назва</th>

            <th>Кількіть</th>
            <th>Вартість</th>
            <th>Сума</th>
            <th>Видалити</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}
                                {% endif %}">
                        </a>
                    </td>
                    <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>

                    <td>{{ item.quantity }}</td>
                    <td class="num">{{ item.price }} грн</td>
                    <td class="num">{{ item.total_price }} грн</td>
                    <td><a href="{% url 'shopping_cart:cart_remove' product.id%}">Видалити</a></td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Загальна вартість замовлення </td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} грн</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
      <ul class="list-group">
        <a href="{% url 'shop:product_list' %}" class="button light">Продовжити покупки</a>
        {% if user.is_authenticated %}
          <li class="list-group-item list-group-item-light">
          <a href="{% url 'shopping_orders:order_create' %}" class="button">
             Оформлення замовлення
          </a>
          </li>
        {% else %}
          <li class="list-group-item list-group-item-light">
              Для оформлення замовлення необхідно авторизуватися
          </li>
        {% endif %}
      </ul>
    </p>
{% endblock %}


                {% if user.is_authenticated %}
                  <li class="list-group-item list-group-item-light">
            	    <a class="nav-item nav-link" href="{% url 'profile' %}">Профіль</a>
                  </li>
                  <li class="list-group-item list-group-item-light">
            	    <a class="nav-item nav-link" href="{% url 'logout' %}">Вихід</a>
                  </li>
          	    {% else %}
                  <li class="list-group-item list-group-item-light">
            	    <a class="nav-item nav-link" href="{% url 'login' %}">Вхід</a>
                  </li>
                  <li class="list-group-item list-group-item-light">
            	    <a class="nav-item nav-link" href="{% url 'register' %}">Реєстрація</a>
                  </li>
          	    {% endif %}




