{% extends "shop/base.html" %}
{% block content %}
    <h2>Ви вийшли з облікового запису</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Війти</a>
        </small>
    </div>
{% endblock content %}