{% extends "shop/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Вітаємо у магазині Python & Django</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Реєстрація</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Вже маєте акаунт? <a class="ml-2" href="#">Вхід</a>
            </small>
        </div>
    </div>
{% endblock content %}