{% extends "shop/base.html" %}

{% block title %}Підтвердження{% endblock %}

{% block content %}
    <h1>Перевірка/Підтвердження </h1>
    <div class="order-info">
        <h3>Ваше замовлення</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>{{ item.total_price }} грн.</span>
                </li>
            {% endfor %}
        </ul>
        <p>Всього: {{ cart.get_total_price }} грн.</p>
    </div>
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>
{% endblock %}