
{% extends "shop/base.html" %}

{% block title %}Дякуємо {% endblock %}

{% block content %}
    <h1>Дякуємо</h1>
    <p>Ваше замовлення успішно додано. Номер Вашого замовлення:
        <strong>{{ order.id }}</strong>.</p>
{% endblock %}