{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    <h1> Інтернет магазин</h1>
{% endblock %}
{% block content %}
<h1> Інтернет магазин</h1>
<h4>«Курсовые проекты с использованием фреймворка Django»</h4>
<h6>Цель: Продемонстрировать навыки создания Django приложений</h6>
<h6> Обязательные языки/технологии/библиотеки: Python, Django</h6>
<h5> Задание 1 </h5>
<h6> Создайте Django приложение, интернет магазин.</h6>
<h5>Требования:</h5>
<li>Создать страницу, на которой будут выводиться все товары</li>
<li>Создать страницу, на которой будут выводиться информация об одном товаре.</li>
<li>Добавьте возможность авторизированному пользователю оставлять отзыв/комментарий о товаре.</li>
<li>Страница регистрация/авторизация</li>
<li>Фильтрование по категориям товаров</li>
<li>Добавить возможность поиска товара на странице</li>
<li>Создать страницу для оформления заказа для авторизированных пользователей (без платежной системы)</li>

<h5> Дополнительные требования</h5>
<li>- Возможность подписки на новости(celery)</li>
<li>- Команда для загрузки с внешней БД(команда для manage.py)</li>
<li>- Просмотренные товары</li>
<li>Стилизация – на Ваше усмотрение.</li>
<h5>Важные моменты</h5>
<li>• Блокировка перехода по меню edit/delete/create если пользователь не авторизирован.

<li>• Использование SQL.</li>

{% endblock %}