{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Обязательные мета-теги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap, иконки и шрифт -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
     <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    {% if title %}
        <title>Shop {{ title }}</title>
    {% else %}
        <title>internet shop Python & Django</title>
    {% endif %}
</head>
<body>
    <header class="site-header">


    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
              <h1></h1>
            <a class="navbar-brand mr-4" href="{% url 'shop:about' %}"><i class='bx bxs-rocket bx-tada-hover'></i> Shop Python & Django </a>
            <p class='text-muted'> Don't give up :)
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                  <a class="nav-item nav-link " href="{% url 'shop:product_list' %}">Головна</a>
                </li>
                <li class="list-group-item list-group-item-light">
                  <a class="nav-item nav-link " href="{% url 'shopping_cart:cart_detail' %}">Кошик</a>
                </li>

                {% if user.is_authenticated %}
                  <li class="list-group-item list-group-item-light">
            	    <a class="nav-item nav-link" href="{% url 'profile' %}">Профіль</a>
                  </li>
                  <li class="list-group-item list-group-item-light">
            	    <a class="nav-item nav-link" href="{% url 'logout' %}">Вихід</a>
                  </li>
          	    {% else %}
                  <li class="list-group-item list-group-item-light">
            	    <a class="nav-item nav-link" href="{% url 'login' %}">Вхід</a>
                  </li>
                  <li class="list-group-item list-group-item-light">
            	    <a class="nav-item nav-link" href="{% url 'register' %}">Реєстрація</a>
                  </li>
          	    {% endif %}
              </ul>
            </p>
          </div>
        </div>
      </div>

    </main>
    <!-- Футер закреплен внизу, независимо от количества постов на странице -->
    <footer class="text-center bg-dark">
      <p><a href="{% url 'shop:product_list' %}">© Shop Python & Django 2022</a></p>
    </footer>

    <!-- Дополнительные скрипты JavaScript -->
    <!-- Сначала jQuery, затем Popper.js, последним Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
© 2022 P&D, Inc.