{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop {% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo">Інтернет магазин " Python & Django "</a>
</div>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
            {% if cart|length > 0 %}
                Ваш кошик:
                <a href="{% url "shopping_cart:cart_detail" %}">
                    товарів {{ total_items }} шт. ,
                    на суму {{ cart.get_total_price }} грн.
                </a>
            {% else %}
                Ваш кошик пустий.
            {% endif %}
        {% endwith %}
    </div>
</div>


<div id="content">

    {% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</div>

</body>
</html>