<!-- inheritans example-->

{% extends 'shop/base.html' %}

{% block content %}
    <h3>Пошук товару за назвою або описом.</h3>

    <h2></h2>
    <form action="" method = 'post'>
        {% csrf_token %}
        <label for="">Введіть повну (або частину) найменування  товару або ключове слово з його опису</label>
        <input  name = 'search' type="text">
        <button type="submit">Знайти</button>
    </form>

{% endblock content %}