
{% extends 'shop/base.html' %}
{% block content %}

<h2>Результат пошуку за "{{query}}"</h2>

{% if empty %}
<p style = ' font-size: 32px;color: red;'>{{empty}}</p>
{% endif %}

<table style="width:100%">
    <tr>
        <th scope="col">найменування</th>
        <th scope="col">артікул</th>
        <th scope="col">наявність</th>
        <th scope="col">ціна </th>
    </tr>
    {% for object in result_list %}
        <tr>
        <!-- Display Objects -->
        <td>{{ object.name }}</td>
        <td>{{ object.code }}</td>
        <td>{{ object.available }}</td>
        <td>{{ object.price }}</td>
        <!-- If objet_tdst is empty  -->
    {% empty %}
        <td>Даного товару поки що немає у магазині.</td>
    {% endfor %}
    </tr>
</table>
{% endblock %}