{% extends 'shop/base.html' %}
{% block content %}
<h2>Форма пошуку</h2>
<form action="" method = 'post'>
    {% csrf_token %}
    <label for="">Введіть товар</label>
    <input  name = 'search' type="text">
    <button>Знайти</button>
</form>
<h2>Результат пошуку за "{{query}}"</h2>

{% if empty %}
<p style = ' font-size: 32px;color: red;'>{{empty}}</p>
{% endif %}

<table style="width:100%">
    <tr>
        <th scope="col">найменування</th>
        <th scope="col">артікул</th>
        <th scope="col">наявність</th>
        <th scope="col">ціна </th>
    </tr>
    {% for object in result_list %}
        <tr>
        <!-- Display Objects -->
        <td><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></td>
        <td>{{ object.code }}</td>
        <td> {% if object.available %}
                в наявності
            {% else %}
                поки немає
            {% endif %}
        </td>
        <td>{{ object.price }}</td>
        <!-- If objet_tdst is empty  -->
    {% empty %}
        <td>Даного товару поки що немає у магазині.</td>
    {% endfor %}
    </tr>
</table>
{% endblock %}