{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<h3>Результат пошуку</h3>

<ul>
  {% for product in object_list %}

  {% if product.available %}

    <li>
      <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
      артикул: {{ product.code }}
      вартість: {{ product.price }} грн
      категорія: {{ product.category }}
      <br>
    </li>

  {% else %}
    <li>
      <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
      артикул: {{ product.code }}
      вартість: {{ product.price }} грн
      категорія: {{ product.category }}
      наразі відсутній
      <br>
    </li>
  {% endif %}

  {% empty %}
    <td>Даного товару поки що немає у магазині.</td>
  {% endfor %}
</ul>

{% endblock %}